src/main/java/com/webservicestutorial/courses/response.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://someBookDetails.com/courses" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="GetCourseDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="CourseDetails">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:integer" name="id"/>
              <xs:element type="xs:string" name="name"/>
              <xs:element type="xs:string" name="description"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>